* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana;
}
html {
  height: 100vh;
  width: auto;
}
/* linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("./images/beach.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-header h1 {
  color: #d5bdaf;
  font-family: "Rubik Lines";
  font-size: 50px;
}

.weather-today {
  height: 280px;
  background-color: transparent;
  color: ivory;
}
.weather-today .weather-day-div {
  text-align: center;
}

.weather-today .weather-day-div img {
  min-width: 130px;
  margin-top: -20px;
}

.weather-today .weather-day-div h5 {
  margin-top: -10px;
  text-transform: capitalize;
}

.weather-day-div {
  padding-right: 150px;
}

.weather-day-image {
  height: 120px;
  text-align: center;
}

.card {
  border-radius: 6px;
  height: 250px;
  text-align: center;
  background-color: #f7ede2;
}

ul {
  padding-left: 0;
}
.cards-image {
  height: 60px;
  width: 65px;
  margin-top: 0px;
}

.card-details {
  font-size: 0.9rem;
}

.clear-history-button {
  width: 75%;
  /* background-color: #84a59d; */
  border-radius: 5px;
  color: #edede9;
}

.searched-city {
  margin: 3px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  width: 70%;
  margin-top: 20px;
  padding: 2px;
  background-color: #edede9;
}
