* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("/assets/beach\ pic.avif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.weather-today {
  height: 200px;
  background-color: transparent;
}

.five-day {
  border-radius: 10px;
}

.weather-card {
  height: 200px;
  background-color: antiquewhite;
  border-radius: 10px;
}
