* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana;
}
html {
  height: 100vh;
  width: auto;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("/assets/beach\ pic.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-today {
  height: 350px;
  background-color: transparent;
}

.card {
  border-radius: 6px;
  height: 200px;
}

ul {
  padding-left: 0;
}
.cards-image {
  height: 60px;
  width: 65px;
  margin-top: 0px;
}

.card-details {
  font-size: 0.9rem;
}

.clear-history-button {
  width: 90%;
}
.searched-city {
  margin: 3px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  width: 70%;
  margin-top: 20px;
  padding: 2px;
  background-color: aqua;
}
